

.entity-layout {
    height:100%;
    width:100%;
    padding:0 5px;
}

.entity-layout .row {
    border:4px dashed #eecccc;
    margin:5px 0;
    padding: 4px;
    width:calc(100% - 16px);
    height:70px;
    display: flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.entity-layout .row .add-new {
    
}

.entity-layout .row .column:not(:last-child) {
    border-right:2px dashed #eecccc;
}

.entity-layout .row .column {
    flex: 1 1 auto;
    padding:3px;
    text-align:center;
    color:#aa9999;
    font-weight: bold;
}