@color_1: #bebeba;
@color_2: rgba(200, 200, 200, 0.3);

.entity-layout {
	height: calc(100% ~"-" 10px);
	width: calc(100% ~"-" 10px);
	padding: 0 5px;
    overflow: auto;
    background-color: @color_2;
	.row {
        position: relative;
		border: 4px dashed @color_1;
		margin: 5px 0;
		padding: 4px;
		width: calc(100% ~"-" 16px);
		height: 70px;
		display: flex;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;

        .button-remove-row {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border:1px solid rgba(100, 100, 100, 0.8);
            position: absolute;
            right: -7px;
            top: 68px;
            transform: translateY(-1px);
            cursor:pointer;
            background-color: #FB4D67;
            display: block;
            opacity:0;
            transition: opacity 125ms ease-in-out;
            z-index: 9;

            &:before {
                width: 15px;
                height: 15px;
                line-height: 15px;
                display: block;
                z-index: 9;
                text-align: center;
            }
        }
        .button-add-column {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border:1px solid rgba(100, 100, 100, 0.8);
            position: absolute;
            right: -8px;
            top: 36px;
            transform: translateY(-8px);
            cursor:pointer;
            background-color: #4D98FB;
            display: block;
            opacity:0;
            transition: opacity 250ms ease-in-out;

            &:before {
                width: 15px;
                height: 15px;
                line-height: 15px;
                text-align: center;
                content: "+";
                color: black;
                display: block;
            }
        }

        &:hover {
            .button-add-column, .button-remove-row {
                opacity:1;
            }
        }

		.column {
            position: relative;
			&:not(:last-child) {
				border-right: 2px dashed @color_1;
			}
			flex: 11 11 auto;
			padding: 3px;
			text-align: center;
			color: @color_1;
			font-weight: bold;
            cursor: pointer;
            .content-column {
                position: absolute;
                width: calc(100% ~"-" 6px);
                height: calc(100% ~"-" 6px);
                top: 30%;
                transform: translateY(30%);
                pointer-events: none;
            }

            .button-remove-column {
                width: 10px;
                display: block;
                opacity:0;
                transition: opacity 250ms ease-in-out;
                height: 10px;
                border-radius: 50%;
                border:1px solid rgba(100, 100, 100, 0.8);
                position: absolute;
                right: 2px;
                top: -1px;
                transform: translateY(-1px);
                cursor:pointer;
                background-color: #FB4D67;
                z-index: 9;

                &:before {
                    width: 10px;
                    height: 10px;
                    line-height: 10px;
                    display: block;
                    z-index: 9;
                    text-align: center;
                }
            }

            
            
            &:hover {
                .button-remove-column {
                    opacity:1;
                }
            }
		}
	}
    .content-rows {
        position: relative;
    }
    .button-add-row {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border:1px solid rgba(100, 100, 100, 0.8);
        position: absolute;
        left: 50%;
        bottom: -15px;
        transform: translateX(-50%);
        cursor:pointer;
        background-color: #4DCA66;
        display: block;
        z-index: 9;

        &:before {
            width: 30px;
            height: 30px;
            line-height: 30px;
            display: block;
            z-index: 9;
            text-align: center;
            content: "+";
            color: black;
        }
    }
    
    .dim-col {
        position: absolute;
        width: 30px;
        height: 16px;
        top: 15px;
        right: 18px;
        transform: translateY(-15px);
    }
}
.EL-popup {
        display:none;
        position:fixed;
        top:0px;
        left:0px;
        width:100%;
        height:100%;

        &.visible {
            display:block;
            z-index: 9;
        }

        .layer {
            background-color:rgba(200, 200, 200, 0.3);
            width:100%;
            height:100%;
        }

        .wraper {
            position:absolute;
            width:500px;
            height:300px;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);

            .content {
                position:relative;
                width:100%;
                height:100%;
                border-radius:4px;
                border:1px solid rgba(200, 200, 200, 0.3);
                background-color:#252525;
                padding:5px;

                .text {
                    width:calc(100% ~"-" 20px);
                    height:calc(100% ~"-" 20px);
                    padding:10px;
                    color:#dedede;
                    background-color:#464646;
                }

            }
            .selectArea {
                width: 100%;
                height: 100%;
                overflow: auto;
                
                .options-entity {
                    color: #ddd;
                    padding: 10px;
                    cursor: pointer;
                    font-size: 1.1em;
                    &:hover {
                        background-color: #464646;
                    }
                }

                .delete {
                    font-style: italic;
                    &:hover {
                        background-color: #CA4D4D;
                    }
                }

            }


        }
    }
